* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
}
header {
    background: white;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}
.nav-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.nav-buttons a {
    background: #008bff;
    color: #e7e7e7;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    transition: 0.3s;
}
.nav-buttons a:hover {
    background: #000000;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
  